.sentContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 3%;
  margin-top: 3px;
}

.sentBox {
  background: #216e16;
  border-radius: 20px;
  padding: 0px 5px;
  color: white;
  font-size: 0.9em;
  word-wrap: break-word;
}

.receivedContainer {
  display: flex;
  justify-content: flex-start;
  padding: 0 3%;
  margin-top: 3px;
  max-width: 50%;
}

.receivedBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 0px 5px;
  color: #353535;
  font-size: 0.9em;
  word-wrap: break-word;
}
