.form {
  display: flex;
  border: none;
  outline: none;
}

.input {
  background-color: #dddddd;
  padding: 2%;
  width: 80%;
  font-size: 1.2em;
  margin: 0 0 20px 10px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: white;
  font-size: 1.2em;
  background-color: #52a947;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  margin: 0 10px 20px 10px;
}
