.form {
  display: flex;
  border-top: 2px solid black;
}

.input {
  padding: 2%;
  width: 90%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  font-size: 1.2em;
  background: #21521b;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}
