.outer {
  background-color: #313135;
  border: 5px solid blue;
}

.midContainer {
  display: flex;
  justify-content: center;
  padding: 10%;
  background-color: #313135;
  border: 2px solid red;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #424247;
  height: 95%;
  max-height: 400px;
  width: 50%;
  border: 2px solid green;
  border-radius: 2%;
}

.head {
  width: 50%;
  margin-left: 35vw;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1d1d1f;
}

::-webkit-scrollbar-thumb {
  background-color: #91262c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #91262c;
}
