.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d1d1f;
}

.innercontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 3px solid forestgreen;
  height: 90%;
  width: 60%;
}

.chatSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  height: 80%;
}

.head {
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1d1d1f;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(196, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(196, 0, 0);
}
