.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1d1f;
  min-height: 70px;
  margin-bottom: 10px;
}

.leftInnerContainer {
  display: flex;
  flex: 0.5;
  align-items: center;
  margin-left: 5%;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.room {
  color: white;
  font-size: 1.6em;
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted red;
}

.room .hoverText {
  visibility: hidden;
  min-width: 315px;
  background-color: black;
  font-size: 0.6em;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  left: 115%;
  top: 8%;
  border: 1px solid red;
}

.room:hover .hoverText {
  visibility: visible;
}

#close {
  color: white;
  background-color: #52a947;
  border: none;
  font-size: 1.1em;
  height: 36px;
  border-radius: 5px;
}

#close:hover {
  cursor: pointer;
  color: rgb(196, 0, 0);
  background-color: forestgreen;
}
