.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #216e16;
  height: 13%;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

#close {
  color: white;
  background-color: #2d991f;
  border: none;
  padding: 8px 12px;
  font-size: 1.1em;
  border-radius: 5px;
}

#close:hover {
  cursor: pointer;
}
