.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 95%;
  justify-content: space-between;
  width: 200px;
  background-color: #216e16;
}

#title {
  font-size: 0.8em;
  background-color: #2d991f;
  padding: 8px;
}

.activeContainer {
  display: flex;
  align-items: right;
  background-color: black;
  height: 400px;
}

.activeItem {
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 5px 159px 0px 0px;
  width: 100%;
  border: 1px solid white;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}
