.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 95%;
  justify-content: space-between;
  border: 1px solid white;
  width: 200px;
}

#title {
  font-size: 1em;
  background-color: #216e16;
  margin: 4%;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
