.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 60%;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin-right: 10px;
}

#title {
  font-size: 0.8em;
  text-align: center;
}

.memberSpace {
  display: flex;
  background-color: #1d1d1f;
  min-height: 200px;
  width: 200px;
  border: 3px solid green;
}

.member {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
  background-color: rgb(150, 150, 150);
}

h3 {
  width: 100%;
}
