.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 60%;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin-right: 10px;
}

#title {
  border: 3px solid #91262c;
  font-size: 0.8em;
  text-align: center;
}

.memberSpace {
  display: flex;
  background-color: #1d1d1f;
  height: 200px;
  border-radius: 3%;
  border: 5px solid orange;
}

.activeItem {
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 5px 159px 0px 0px;
  width: 100%;
  background-color: gray;
}

h3 {
  width: 100%;
}
