html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.loginOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1d1d1f;
}

.loginInnerContainer {
  width: 25%;
}

.loginInput {
  padding: 15px 20px;
  width: 100%;
  margin-top: 20px;
}

.heading {
  color: white;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.footer {
  color: white;
  font-size: 1em;
  margin-top: 30px;
}

.button {
  color: white;
  font-size: 20px;
  background: #216e16;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.inputspace {
  display: flex;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #1d1d1f;
  color: #216e16;
  margin: 30px 20px 0 0;
  height: 25px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #dddddd;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover {
  cursor: pointer;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
